.hello {
  color: red;
}
.box1 {
  width: 100px;
  height: 100px;
  background: url("../images/vue.png") no-repeat;
}
.box2 {
  width: 100px;
  height: 100px;
  background: url("../images/www_electronjs.svg") no-repeat;
}
.box3 {
  width: 100px;
  height: 100px;
  background: url("../images/webpack.png") no-repeat;
}